@import './consts';

body {
  background-color: #fbfbfb;
  background: url('../images/collage.jpg') repeat center center;
  @include phone-screen {
    background: none;
  }
}

.app-body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

h5 {
  margin: 0px;
}

header {
  h1 {
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    text-align: left;
    padding: 0px 10px;
    font-size: 50px;
    margin: 10px 0px;
  }
}
