body {
  background-color: #fbfbfb;
  font-family: 'Bellota Text', cursive;
}

.app-body {
  display: flex;
  justify-content: space-between;
}

img {
  width: 40%;
}

h5 {
  margin: 0px;
}

header {
  h1 {
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    text-align: left;
    padding: 0px 10px;
    font-size: 50px;
    margin: 10px 0px;
  }
}
