@import './consts';

body {
  background-color: #fbfbfb;
  background: url('../images/collage.jpg') repeat center center;
}

.app-body {
  display: flex;
  justify-content: space-between;
  font-family: 'Bellota Text', sans-serif;
  @include phone-screen {
    display: block;
  }
}

img {
  width: 40%;
  @include phone-screen {
    width: 100%;
  }
}

h5 {
  margin: 0px;
}

header {
  h1 {
    font-family: 'Bellota Text', cursive;
    font-weight: 700;
    text-align: left;
    padding: 0px 10px;
    font-size: 50px;
    margin: 10px 0px;
  }
}
