@import './consts';

.movie-list {
  margin: 0px auto 0px;
  background-color: #fff;
  padding: 10px 15px 10px 100px;
  width: 450px;
  position: relative;
  display: flex;
  min-height: 100vh;
  @include phone-screen {
    display: block;
  }
  h1 {
    margin: 5px 0px 0px;
    font-weight: 700;
    font-size: 45px;
    position: absolute;
    text-transform: uppercase;
    left: -155px;
    top: 44%;
    transform: rotate(90deg);
  }
  ol, ul {
    text-align: left;
  }
  li {
    list-style: none;
  }
  ol {
    // to use a css counter, it first must
    // be reset with counter-reset
    border-left: 1px solid #000;
    counter-reset: movie-counter;
    list-style: none;
    h3 {
      display: inline-block;
      position: relative;
      top: 12px;
      margin-left: 5px;
    }
    > li {
      text-transform: uppercase;
      font-size: 12px;
      // will increment by one
      counter-increment: movie-counter;
      font-weight: 700;
      margin: 30px 0px;
      &::before {
        content: "0" counter(movie-counter);
        text-decoration: underline $colonelmustard;
        font-weight: 400;
        font-family: 'Abril Fatface', sans-serif;
        font-size: 3rem;
        margin-right: 0.5rem;
        line-height: 1;
        vertical-align: bottom;
      }
    }
  }
  ul {
    list-style-type: none;
    font-weight: 400;
    padding: 10px 0px 0px 70px;
    font-family: 'Vollkorn', serif;
    text-transform: capitalize;
    font-size: 13px;
    a {
      color: #000;
      display: block;
      font-size: 10px;
    }
    h5 {
      margin: 5px 0px;
      font-size: 13px;
      font-weight: 400;
    }
    > li {
      &::before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: #000;
      }
    }
  }
  .see-source-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2px;
    border-top: 3px solid transparent;
    border-left: 6px solid #000;
    border-bottom: 3px solid transparent;
  }
  .see-source-arrow.active {
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-top: 6px solid #000;
  }
  .active-source {
    padding: 5px;
  }
  .pagination {
    flex-grow: 1;
    align-self: center;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    right: 35px;
    z-index: 20;
    @include phone-screen {
      position: relative;
    }
    .rectangle {
      width: 20px;
      height: 2px;
      background-color: $colonelmustard;
      display: inline-block;
      position: relative;
      top: -2px;
    }
    .next-arrow {
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-left: 6px solid $colonelmustard;
      border-bottom: 3px solid transparent;
    }
    .prev-arrow {
      display: inline-block;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-right: 6px solid $colonelmustard;
      border-bottom: 3px solid transparent;
    }
  }
}